.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.textSide {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.name {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.pTag {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.imageSide {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
