.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textColor {
  color: #f00;
  margin: 0px;
}

.textArea {
  height: 130px;
  resize: none;
  border: 2px solid #a2aebb;
  background-color: #dfe0e2;
  color: #071013;
  border-radius: 6px;
  font-size: 1rem;
}

.textArea:focus {
  border: 2px solid #23b5d3;
  outline: none;
}

.container label {
  color: #dfe0e2;
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 25px;
}
