.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: green;
}

.title {
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
  font-size: 38px;
}

.simplyText {
  margin: 0px;
  padding: 0px;
  width: 65%;
  text-align: center;
}

.generalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 50%;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.formInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.formInput input {
  width: 375px;
  outline: none;
  padding: 5px;
}

.formInput label {
  width: 45%;
  margin: 0px;
  padding: 0px;
}

.formTextarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.formTextarea textarea {
  width: 98%;
  height: 100px;
  outline: none;
  padding: 5px;
  resize: none;
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
}
