.container {
  background-color: violet;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 15px;
  height: 90vh;
}

.title {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 3.3rem;
  font-weight: 300;
  color: #dfe0e2;
}

.projectsLeft,
.projectsRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: blue;
}

.project {
  background-color: #dfe0e2;
  margin-top: 10px;
  height: 350px;
  flex: 1;
  transition: all 1s ease-in-out;
}

.project:hover {
  background-color: #23b5d3;
  transition: all 1s ease-in-out;
  flex: 3;
}
.project:hover img {
  background-color: #23b5d3;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
  flex: 3;
}

.project img {
  object-fit: cover;
  width: 100%;
  flex: 1;
}

/* .projectBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  margin: -80px 20px 0px 0px;
}

.projectBtns button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 2px solid #23b5d3;
  border-radius: 8px;
  background-color: transparent;
  color: #dfe0e2;
  font-size: 0rem;
  cursor: pointer;
}

.projectBtns button:hover {
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

.btnGit,
.btnWeb {
  transition: all 1s ease-in-out;
  height: 50px;
  width: 50px;
}

.projectBtns button:hover .btnGit,
.projectBtns button:hover .btnWeb {
  transition: all 1s ease-in-out;
  height: 30px;
  width: 30px;
} */
