.container {
  background-color: violet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.right,
.left {
  width: 50%;
}

.projectTitle {
  position: absolute;
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.project {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  justify-content: space-between;
}

.projectBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  margin: -80px 20px 0px 0px;
}

.projectBtns button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 2px solid #23b5d3;
  border-radius: 8px;
  background-color: transparent;
  color: #dfe0e2;
  font-size: 0rem;
  cursor: pointer;
}

.projectBtns button:hover {
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

.btnGit,
.btnWeb {
  transition: all 1s ease-in-out;
  height: 50px;
  width: 50px;
}

.projectBtns button:hover .btnGit,
.projectBtns button:hover .btnWeb {
  transition: all 1s ease-in-out;
  height: 30px;
  width: 30px;
}
